<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../../static/css/stylesheet_bendispository.css" th:href="@{/css/stylesheet_bendispository.css}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="projekt_container">
    <h1>My Buy Requests</h1>
    <div th:each="request : ${myBuyRequests}">
        <hr width="50%">
        <div th:utext= "|Item: ${request.requestedItem.name} <br/>
                         From: ${request.requestedItem.owner.username}|"></div>
        <form method="post" th:action="'/profile/deleterequest/' + ${request.id}">
            <button type = "submit">Delete</button>
        </form>
    </div>
</div>
<div class="projekt_container">
    <h1>Buy requests concerning my items</h1>
    <div th:each="request : ${buyRequestsMyItems}">
        <hr width="50%">
        <table style="margin-top: 2%">
            <tr style="text-align: left !important;">
                <td class="item_name" th:text= "|Item: ${request.requestedItem.name}|"></td>
                <td class="item_name" th:text= "|Requested by: ${request.requester.username}|"></td></tr>
            <td th:text="|Status: ${request.status}|"></td>
            <div th:if="${request.status.name() == 'PENDINGSELL'}">
                <form method="post">
                    <input type="radio" name="buyRequestMyItems" value="-1">reject
                    <input type="radio" name="buyRequestMyItems" value="1">accept
                    <input type="hidden" value="0" th:value="${request.id}" name="requestID">
                    <button type = "submit">submit</button>
                </form>
            </div>
        </table>
    </div>
</div>
<div class="projekt_container">
<h1>My Requests</h1>
  <div th:each="request : ${myRequests}">
      <hr width="50%">
      <div th:utext= "|Item: ${request.requestedItem.name} <br/>
                       Status: ${request.status} <br/>
                       From: ${request.requestedItem.owner.username}|"></div>
      <form method="post" th:action="'/profile/deleterequest/' + ${request.id}">
          <button type = "submit">Delete</button>
      </form>
  </div>
</div>
<div class="projekt_container">
    <h1>Requests concerning my items</h1>
    <div th:each="request : ${requestsMyItems}">
        <hr width="50%">
        <table style="margin-top: 2%">
            <tr style="text-align: left !important;">
                <td class="item_name" th:text= "|Item: ${request.requestedItem.name}|"></td>
                <td class="item_name" th:text= "|Requested by: ${request.requester.username}|"></td></tr>
            <td th:text="|Status: ${request.status}|"></td>
            <div th:if="${request.status.name() == 'PENDING'}">
                <form method="post">
                    <input type="radio" name="requestMyItems" value="-1">reject
                    <input type="radio" name="requestMyItems" value="1">accept
                    <input type="hidden" value="0" th:value="${request.id}" name="requestID">
                    <button type = "submit">Submit</button>
                </form>
            </div>
        </table>
    </div>
</div>
<a class="back_button" href="/profile">Back</a>
</body>
</html>
