<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="../../static/css/stylesheet_bendispository.css" rel="stylesheet"
	  th:href="@{/css/stylesheet_bendispository.css}">
<head>
	<meta charset="UTF-8">
</head>
<body>
<div class="projekt_container">
	<h1>My Purchases</h1>
	<div th:each="request : ${myBuyRequests}">
		<hr width="50%">
		<div th:utext="|Item: ${request.requestedItem.name} <br/>
                         Status: ${request.status} <br/>
                         From: ${request.requestedItem.owner.username}|"></div>
	</div>
</div>
<div class="projekt_container">
	<h1>My Sales</h1>
	<div th:each="request : ${buyRequestsMyItems}">
		<hr width="50%">
		<table style="margin-top: 2%">
			<tr style="text-align: left !important;">
				<td class="item_name" th:text="|Item: ${request.requestedItem.name}|"></td>
				<td class="item_name" th:text="|Requested by: ${request.requester.username}|"></td>
			</tr>
			<td th:text="|Status: ${request.status}|"></td>
			<div th:if="${request.status.name() == 'AWAITING_SHIPMENT'}">
				<form method="post">
					<input name="requestID" th:value="${request.id}" type="hidden" value="0">
					<button name="shipped" type="submit" value="1">Item Shipped</button>
				</form>
			</div>
		</table>
	</div>
</div>
<div class="projekt_container">
	<h1>My Requests</h1>
	<div th:each="request : ${myRequests}">
		<hr width="50%">
		<div th:utext="|Item: ${request.requestedItem.name} <br/>
                       Status: ${request.status} <br/>
                       From: ${request.requestedItem.owner.username}|"></div>
		<form method="post" th:action="'/profile/deleterequest/' + ${request.id}">
			<button type="submit">Delete</button>
		</form>
	</div>
</div>
<div class="projekt_container">
	<h1>Requests concerning my items</h1>
	<div th:each="request : ${requestsMyItems}">
		<hr width="50%">
		<table style="margin-top: 2%">
			<tr style="text-align: left !important;">
				<td class="item_name" th:text="|Item: ${request.requestedItem.name}|"></td>
				<td class="item_name" th:text="|Requested by: ${request.requester.username}|"></td>
				<div class = "item_name"> Requested by: <a th:href="@{'/profile/' + ${request.requester.id}}"
									   th:text="|${request.requester.username}|"></a></div>
			</tr>
			<td th:text="|Status: ${request.status}|"></td>
			<td th:text="|From: ${request.startDate}|"></td>
			<td th:text="|To: ${request.endDate}|"></td>
			<div th:if="${request.status.name() == 'PENDING'}">
				<form method="post">
					<input name="requestMyItems" type="radio" value="-1">reject
					<input name="requestMyItems" type="radio" value="1">accept
					<input name="requestID" th:value="${request.id}" type="hidden" value="0">
					<button type="submit">Submit</button>
				</form>
			</div>
		</table>
	</div>
</div>
<a class="back_button" href="/profile">Back</a>
</body>
</html>
