<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../static/css/stylesheet_bendispository.css" th:href="@{/css/stylesheet_bendispository.css}">
<head>
    <meta charset="UTF-8">
    <title>Charge Account</title>
</head>
<body>
<div class="projekt_container">
    <div th:if="${success}">
        <div class="alert_success" th:text="${success}"></div>
    </div>
    <form method = "post">
        <UL>
            <LI>Amount: <input type ="number" name = "amount" th:value="${amount}" placeholder="100€">
            </LI>
            <button type="submit">Charge Account</button>
        </UL>
    </form>
</div>
<a href="/profile" class="back_button">Back</a>
</body>
</html>
