<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../static/css/stylesheet_bendispository.css" th:href="@{/css/stylesheet_bendispository.css}">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>

<div class = "projekt_container">
    <h1>Edit Profile</h1>
    <form method = "post">
        <tr>Firstname:<div><input type ="text" pattern="[a-zA-ZöäüÖÄÜß]+" required name = "Firstname" th:value="${person?.firstName}"></div></tr>
        <tr>Lastname:<div><input type ="text" pattern="[a-zA-ZöäüÖÄÜß]+" required name = "Lastname" th:value="${person?.lastName}"></div></tr>
        <tr>Password:<div><input type ="text" pattern=".{8,}" required name = "Password" th:value="${person?.password}"></div></tr>
        <tr>Email:<div><input type ="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required name = "Email" th:value="${person?.email}"></div></tr>
        <tr>City:<div><input type ="text" required pattern="[a-zA-ZöäüÖÄÜß 0-9]+" name = "City" th:value="${person?.city}"></div></tr>
        <button type="submit" class="button" style="margin-top: 2%"> Save Changes</button>
    </form>
</div>
<form action="/">
    <button class="back_button" type="submit">Back</button>
</form>


</body>
</html>