<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../static/css/stylesheet_bendispository.css" th:href="@{/css/stylesheet_bendispository.css}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="projekt_container">
    <h1 th:text="|Request for ${thisItem.name}|"></h1>
    <form method = "post">
        <UL th:if="${thisItem.available} == true" >
            <LI>Start Date:<input type ="text" name = "startDate" th:value="${newRequest?.startDate}" placeholder="yyyy-mm-dd">
            <LI>End Date:<input type ="text" name = "endDate" th:value="${newRequest?.endDate}" placeholder="yyyy-mm-dd">
            </LI>
            <button type="submit">Send request</button>
        </UL>

        <p th:if="${thisItem.available} == false">Item currently not available</p>
    </form>
</div>
<form action="http://localhost:8080/">
    <button class="back_button" type="submit">Back</button>
</form>
</body>
</html>
