<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../static/css/stylesheet_bendispository.css" th:href="@{/css/stylesheet_bendispository.css}">
<head>
    <meta charset="UTF-8">
    <title>Request Item</title>
</head>
<body>
<div class="projekt_container">
    <div th:if="${message}">
        <div class="alert" th:text="${message}"></div>
        <a href="http://localhost:8080/chargeAccount">Charge account?</a>
    </div>
    <h1 th:text="|Request for ${thisItem.name}|"></h1>
    <form method = "post">
            <tr>Start Date:<input type ="text" name = "startDate" th:value="${newRequest?.startDate}" placeholder="yyyy-mm-dd"></tr>
            <tr>End Date:<input type ="text" name = "endDate" th:value="${newRequest?.endDate}" placeholder="yyyy-mm-dd"></tr>
            <button type="submit">Send request</button>
    </form>
</div>
<a href="/" class="back_button">Back</a>
</body>
</html>
