<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="">
<link rel="stylesheet" href="../static/css/stylesheet_bendispository.css" th:href="@{/css/stylesheet_bendispository.css}">
<body>
<div class="my_actions_profile">
    <a href="/profile">My Profile</a>
    <a href="/additem">Add Item</a>
    <a href="/profilub">Overview Users</a>
    <a href="/loggedout">Logout</a>
</div>
<div class="projekt_container">
    <h2>Your Purchases</h2>
    <div th:each="purchase : ${purchases}">
        <hr width="50%">
            Item: <a th:href="|@{'/item/' + ${purchase.requestedItem.id}}|" th:text= "${purchase.requestedItem.name}"></a>
        <div>
            Seller: <a th:href="|@{'/profile/' + ${purchase.requestedItem.owner.id}}|" th:text="${purchase.requestedItem.owner.username}"></a>
        </div>
    </div>
</div>
<div class="projekt_container">
    <h2>Your Sales</h2>
    <div th:each="sale : ${sales}">
        <hr width="50%">
            Item: <a th:href="|@{'/item/' + ${sale.requestedItem.id}}|" th:text= "${sale.requestedItem.name}"></a>
        <div>
            Buyer: <a th:href="|@{'/profile/' + ${sale.requester.id}}|" th:text="${sale.requester.username}"></a>
        </div>
    </div>
</div>
<div class="projekt_container">
    <h2>Leased By You</h2>
    <div th:each="lease1 : ${leased}">
        <hr width="50%">
            Item: <a th:href="|@{'/item/' + ${lease1.item.id}}|" th:text= "${lease1.item.name}"></a>
        <div>
            <div class ="item_description">
                Owner: <a th:href="|@{'/profile/' + ${lease1.item.owner.id}}|" th:text="${lease1.item.owner.username}"></a>
            </div>
            <div class ="item_description" th:text="|Date: ${#temporals.format(lease1.startDate, 'yyyy-MM-dd')} - ${#temporals.format(lease1.endDate, 'yyyy-MM-dd')}|"></div>
            <div th:each="payment : ${lease1.payments}">
                <div class ="item_description" th:text="|Type: ${payment.type} Amount: ${payment.amount}|"></div>
            </div>
        </div>
    </div>
</div>
<div class="projekt_container">
    <h2>Lent Away</h2>
    <div th:each="lease2 : ${lent}">
        <hr width="50%">
           Item: <a th:href="|@{'/item/' + ${lease2.item.id}}|" th:text= "${lease2.item.name}"></a>
        <div>
            <div class ="item_description">
                Leaser: <a th:href="|@{'/profile/' + ${lease2.leaser.id}}|" th:text="${lease2.leaser.username}"></a>
            </div>
            <div class ="item_description" th:text="|Date: ${#temporals.format(lease2.startDate, 'yyyy-MM-dd')} - ${#temporals.format(lease2.endDate, 'yyyy-MM-dd')}|"></div>
            <div th:each="payment : ${lease2.payments}">
                <div class ="item_description" th:text="|Type: ${payment.type} Amount: ${payment.amount}|"></div>
            </div>
        </div>
    </div>
</div>
<a href="/profile" class="back_button">Back</a>
</body>
</html>