<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:data="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../static/css/stylesheet_bendispository.css" th:href="@{/css/stylesheet_bendispository.css}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="projekt_container">
    <div th:if="${success}">
    <div class="alert_success" th:text="${success}"></div>
    </div>
    <div th:if="${message}">
        <div class="alert_error" th:text="${message}"></div>
    </div>
    <div class="item_owner_description">
        <h1 th:text = "${itemProfile?.name}"></h1>
        <img th:src="${pic} == null ? _ : @{'data:image/png;base64,'+${pic}}">
        <tr><div th:text = "| Description: ${itemProfile?.description}|" ></div></tr>
        <tr><div th:text = "| Place: ${itemProfile?.place}|"></div></tr>
        <tr><div th:text = "| Deposit: ${itemProfile?.deposit}|" ></div></tr>
        <tr><div th:text = "| Cost per day: ${itemProfile?.costPerDay}|" ></div></tr>
        <!-- <tr><div th:if="${itemProfile?.uploadFile} != null" th:text = "| File: ${itemProfile?.uploadFile.fileName}|"></div></tr>-->
    </div>
        <div> Angaben zum Verleiher: <a th:href = "@{'/profile/' + ${itemOwner?.id}}">Profil</a> </div>
        <a th:href = "@{'/item' + ${itemProfile?.id} + '/requestItem'}">Request this item</a><br>
        <a th:if = "${itemOwner?.username == loggedInPerson?.username}" th:href="@{'/editItem/' + ${itemProfile?.id}}">Edit Item</a><br>
    </div>
<a href = "/profile/requests">Requests</a>
<a href="/" class="back_button">Back</a>
</body>
</html>
