<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text = "|${itemProfile?.name}, from ${itemProfile?.owner.username}"></h1>
<dl>
    <LI th:text = "| Name: ${itemProfile?.name}|"></LI>
    <LI th:text = "| Description: ${itemProfile?.description}|" ></LI>
    <LI th:text = "| Deposit: ${itemProfile?.deposit}|" ></LI>
    <LI th:text = "| CostPerDay: ${itemProfile?.costPerDay}|" ></LI>
</dl>
<!-- Hier kommt Anfrage Rubrik mit Zeitraum etc. (Marc und Kim)-->

<a th:href = "@{'/item' + ${itemProfile.id} + '/requestItem'}">Anfrage verschicken</a>

<form action="http://localhost:8080/">
    <button type="submit">Zurück zur Übersicht</button>
</form>

</body>
</html>