<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div>My Profile</div>
<div>
    <form method="post">
        <table>
            <tr>
                <td>Last Name:</td>
                <td>First Name:</td>
                <td>Email:</td>
                <td>City:</td>
                <td>Account:</td>
                <td>Username:</td>
            </tr>
            <tr>
                <td><Input name="nachname" type="text" th:text="${person.LastName}"></td>
                <td><Input name="vorname" type="text" th:text="${person.firstName}"></td>
                <td><Input name="email" type="text" th:text="${person.email}"></td>
                <td><Input name="stadt" type="text" th:text="${person.city}"></td>
                <td><Input name="account" type="text" th:text="${person.account}"></td>
                <td><Input name="username" type="text" th:text="${person.username}"></td>
            </tr>
        </table>
        <button type="submit">Save & Create</button>
        <a href="/" >Back</a>
    </form>
</div>
</body>
</html>