<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../static/css/stylesheet_bendispository.css" th:href="@{/css/stylesheet_bendispository.css}">
<head>
</head>
<body>
<div class="projekt_container">
<h1>My Profile</h1>
    <div class="my_actions_profile">
        <a href = "/profile/requests">Requests</a>
        <a href = "/profile/rentedItems">Rented Items</a>
        <a href = "/profile/returneditems">Returned To You</a>
        <a href = "/profile/history">Lease History</a>
    </div>
    <a href = "/editProfile">Edit Profile</a>
    <div class="my_rating">
        <tr th:if="${person?.getAverageRatings()} != -1" th:text="|Rating: ${person?.getAverageRatings()}|">
            <div th:each="i : ${#numbers.sequence( 1,person?.getAverageRatings())}">
                <img src="star.png">
            </div>
        </tr>
        <tr th:if="${person.getAverageRatings()} == -1">Rating: No rating existing yet</tr>
    </div>
    <div class="profil_information">
        <tr><div th:text="|Last Name : ${person?.lastName}|"></div></tr>
        <tr><div th:text="|First Name: ${person?.firstName}|"></div></tr>
        <tr><div th:text="|Email: ${person?.email}|"></div></tr>
        <tr><div th:text="|City: ${person?.city}|"></div></tr>
        <tr><div th:text="|Username: ${person?.username}|"></div></tr>
        <tr><div th:text="|Kontostand: ${account?.amount}|"></div></tr>
        <tr><div><a href="/chargeAccount">Charge account</a></div></tr>
        <div style="width:300px;height:150px;line-height:3em;overflow:auto;padding:5px;">
            <h4>Current reservations</h4>
            <div th:each="reservation : ${reservations}">
                <tr>
                    <div th:text="|Reservierungsbetrag: ${reservation?.amount}|"></div>
                    <div th:text="|ReservierungsID: ${reservation?.id}|"></div>
                </tr>
            </div>
        </div>
        <div class="my_items">My Items:
                <div th:each="item : ${person.items}">
                    <tr>
                        <td><a th:href="@{'/Item/' + ${item.id}}" th:text="${item.name}"></a></td>
                    </tr>
                </div>
        </div>
    </div>
</div>
<a href="/" class="back_button">Back</a>
</body>
</html>