<!DOCTYPE html>
<html>
<head>
</head>
<body>
 <div>Registrierung</div>
<div>
    <form method="post">
        <table>
            <tr>
                <td>Nachname:</td>
                <td>Vorname:</td>
                <td>Email:</td>
                <td>Stadt:</td>
            </tr>
            <tr>
                <td><Input name="nachname" type="text" placeholder="e.g.Mustermann"></td>
                <td><Input name="vorname" type="text" placeholder="e.g.Max"></td>
                <td><Input name="email" type="text" placeholder="e.g.max@gmx.de"></td>
                <td><Input name="stadt" type="text" placeholder="e.g.Duesseldorf"></td>
            </tr>
        </table>
        <button type="submit">Erstellen & speichern</button>
        <a href="/overview" >Zur&uumlck zur  &Uumlbersicht</a>
    </form>
</div>
</body>
</html>