<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../static/css/stylesheet_bendispository.css" th:href="@{/css/stylesheet_bendispository.css}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="projekt_container">
<h1>Rented Items by myself</h1>
    <div th:each="leaseTransaction : ${myRentedItems}">
        <tr><div class="item_name" th:text= "|Item:|"></div></tr>
        <a th:href="|@{'/Item/' + ${leaseTransaction.item.id}}|" th:text= "${leaseTransaction.item.name}"></a>
        <tr><div th:text= "|Owner:|"></div></tr>
        <a th:href = "@{'/profile/' + ${leaseTransaction.item.owner.id}}">Profil</a>
        <tr><div th:text="|Start date: ${#temporals.format(leaseTransaction.startDate, 'yyyy-MM-dd')}|"></div></tr>
        <tr><div th:text="|To be returned on: ${leaseTransaction.endDate}|"></div></tr>
            <form method="post">
                <button type = "submit" th:value="${leaseTransaction.id}" name="id">return</button>
            </form>
    </div>
</div>
<a class="back_button" href="/profile">Back</a> <!-- ergänzt um person (login) -->
</body>
</html>
