<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../static/css/stylesheet_bendispository.css" th:href="@{/css/stylesheet_bendispository.css}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="projekt_container">
<h1>Rented Items by myself</h1>
    <div th:each="leaseTransaction : ${myRentedItems}">
        <tr><div class="item_name" th:text= "|Gegenstand: ${leaseTransaction.item.name}|"></div></tr>
        <tr>
            <div th:text="|To be returned on: ${leaseTransaction.endDate}|"></div>
            <button type = "submit" value="${leaseTransaction.id}">return</button>
        </tr>
    </div>
</div>
<a class="back_button" href="/">Back</a> <!-- ergänzt um person (login) -->
</body>
</html>
