<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../static/css/stylesheet_bendispository.css" th:href="@{/css/stylesheet_bendispository.css}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="projekt_container">
<h1>My Requests</h1>
  <div th:each="request : ${myRequests}">
      <tr>
          <div th:text= "|Gegenstand: ${request.requestedItem.name} -Status: ${request.status}|"></div>
          <div>
              <form method="post">
                  <input type="radio" name="rating" value="1">
                  <input type="radio" name="rating" value="2">
                  <input type="radio" name="rating" value="3">
                  <input type="radio" name="rating" value="4">
                  <input type="radio" name="rating" value="5">
                  <input type="hidden" value="0" th:value="${request}" name="request">
                  <button type = "submit">submit</button>
              </form>
          </div>
      </tr>
  </div>
</div>
<div class="projekt_container">
    <h1>Requests concerning my items</h1>
    <div th:each="request : ${requestsMyItems}">
        <table style="margin-top: 2%">
            <tr style="text-align: left !important;">
                <td class="item_name" th:text= "|Item: ${request.requestedItem.name}|"></td>
                <td class="item_name" th:text= "|Requested by: ${request.requester.username}|"></td>
            </tr>
        <td th:text="|Status: ${request.status}|"></td>
        <td>
            <form method="post">
                <input type="radio" name="requestMyItems" value="-1">reject
                <input type="radio" name="requestMyItems" value="1">accept
                <input type="hidden" value="0" th:value="${request.id}" name="requestID">
                <button type = "submit">submit</button>
            </form>
        </td>
    </tr>
        </table>
</div>
</div>
<a class="back_button" href="/">Back</a> <!-- ergänzt um person (login) -->
</body>
</html>
