<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<title>Requests</title>
<div>My Requests
  <div th:each="request : ${myRequests}">
    <h1 th:text= "|Gegenstand: ${request.requestedItem.name}|"></h1>
    <div>
        <div th:text="|Status: ${request.status}|"></div>
    </div>
  </div>
</div>
<div>Requests concerning my items
    <div th:each="request : ${requestsMyItems}">
    <h1 th:text= "|Gegenstand: ${request.requestedItem.name}|"></h1>
    <div>
        <!--Requested by: ${request.requester.username} muss noch unten rein wenn login fertig-->
        <div th:text="|Status: ${request.status}|"></div>
        <form method="post">
            <input type="Radio" name="requestMyItems" value="-1">reject
            <input type="Radio" name="requestMyItems" th:value="${request.id}">accept
            <input type="Radio" name="requestMyItems" value="-2">
            <button type = "submit">submit</button>
        </form>
    </div>
</div>
</div>
</body>
</html>