<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link href="../../static/css/stylesheet_bendispository.css" rel="stylesheet"
	  th:href="@{/css/stylesheet_bendispository.css}">
<head>
</head>
<body>
<div class="projekt_container">
	<h1 th:text="${person?.username}"></h1>
	<div class="my_rating" th:if="${rating} != -1">
		<tr th:text="|Rating: ${rating}|"></tr>
		<tr>
			<div>
				<img height="50" src="../../static/img/star.png"
					 th:each="i : ${#numbers.sequence( 1,rating)}" th:src="@{/img/star.png}" width="50">
			</div>
		</tr>
	</div>
	<div class="my_rating" th:if="${rating} == -1">
		<tr>Rating: No rating existing yet</tr>
	</div>
	<div class="profil_information">
		<tr>
			<div th:text="|Email: ${person?.email}|"></div>
		</tr>
		<tr>
			<div th:text="|City: ${person?.city}|"></div>
		</tr>
		<div th:if="${person?.items?.size()} != 0" class="my_items">Offered Items:
			<div th:each="item : ${person?.items}">
				<tr>
					<td><a th:href="@{'/item/' + ${item?.id}}" th:text="${item?.name}"></a></td>
				</tr>
			</div>
		</div>
	</div>
</div>
<a class="back_button" href="/profilub">Back to Users Overview</a>
<a class="back_button" href="/">Back to Homepage</a>
</body>
</html>