<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../../static/css/stylesheet_bendispository.css" th:href="@{/css/stylesheet_bendispository.css}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>Profile</td>
        <td>Name</td>
        <td>Username</td>
        <td>Email</td>
    </tr>
    <tr th:each = "person : ${personen}">
        <td>
            <a th:href = "@{'/profile/' + ${person?.id}}">Profile</a>
            <a th:if="${loggedInPerson.username == 'admin' and person.username != 'admin'}" th:href = "@{'/deleteuser/' + ${person?.username}}" type="submit">Delese user</a>

        </td>
        <td th:text = "|${person?.firstName}, ${person?.lastName}|"></td>
        <td th:text = "|${person?.username}|"></td>
        <td th:text = "|${person?.email}|"></td>

    </tr>
</table>
<a href="/" style="float: left" class="back_button">Back</a>
</body>
</html>
