<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="../../static/css/stylesheet_bendispository.css" rel="stylesheet"
	  th:href="@{/css/stylesheet_bendispository.css}">
<head>
	<meta charset="UTF-8">
	<title>Add a new Item to sell</title>
</head>
<body>
<div class="projekt_container">
	<h1>I want to sell a new Item:</h1>
	<form enctype="multipart/form-data" method="post">
		<tr>Name:
			<div><input name="name" pattern="[a-zA-ZöäüÖÄÜß 0-9]+" required th:value="${newItem?.name}" type="text">
			</div>
		</tr>
		<tr>Description:
			<div><input name="description" pattern="[a-zA-ZöäüÖÄÜß .,?!0-9]+" required th:value="${newItem?.description}"
						type="text"></div>
		</tr>
		<tr>Retail Price:
			<div><input name="retailPrice" pattern="[0-9]+" required th:value="${newItem?.retailPrice}" type="text">
			</div>
		</tr>
		<tr>Place:
			<div><input name="place" pattern="[a-zA-ZöäüÖÄÜß 0-9]+" required th:value="${newItem?.place}" type="text">
			</div>
		</tr>
		<tr>Upload File:
			<div><input name="file" type="file"></div>
		</tr>
		<button class="button" style="margin-top: 2%" type="submit">Add Item</button>
	</form>
</div>
<a class="back_button" href="/">Back</a>
</body>
</html>
