<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../../static/css/stylesheet_bendispository.css" th:href="@{/css/stylesheet_bendispository.css}">
<head>
    <meta charset="UTF-8">
    <title>Edit Item</title>
</head>
<body>

<div class = "projekt_container">
    <h1>Edit Item</h1>
    <form method = "post">
        <tr>Name:<div><input type ="text" name = "name" pattern="[a-zA-ZöäüÖÄÜß 0-9]+" required th:value="${Item?.name}"></div></tr>
        <tr>Description:<div><input type ="text" name = "description" th:value="${Item?.description}"></div></tr>
        <tr>Place:<div><input type ="text" name = "place" pattern="[a-zA-ZöäüÖÄÜß 0-9]+" required th:value="${Item?.place}"></div></tr>
        <tr>Retail Price:<div><input type ="text" name = "retailPrice" pattern="[0-9]+" required th:value="${Item?.retailPrice}"></div></tr>
        <button type="submit" class="button" style="margin-top: 2%"> Save Changes</button>
    </form>
</div>
<a class="back_button" href="/profile">Back</a>
</body>
</html>